<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>BREAKOUT</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<canvas id="canvas1" width="730px" height="600px"> </canvas>
		<script src="/js/breakout.js"></script>
	</body>
</html>