{{!-- under construction rc --}}
{{!-- <div>
	<p class="css-3d-text">{{username}}</p>
	{{#if loggedIn}}
	{{/if}}
</div> --}}


<button class="score-box">BREAKOUT HIGHSCORE
	<p>1200</p>
	WANNA REDEEM YOURSELF?<br>
	<btn id="breakout" class="button"onclick="location.href='api/breakout';">YES</btn>
</button>

<button class="score-box">JUMP HIGHSCORE
	<p>2100</p>
	WANNA REDEEM YOURSELF?<br>
	<btn id="jump" class="button" onclick="location.href='/jump';">YES</btn>
</button>

{{ footer}}