<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dino Jump</title>
		<link rel="stylesheet" href="/stylesheets/dinojump.css" />
	</head>
	<body>
		<div id="game">
        <div id="dino"></div>
        <div id="rock"></div>
    </div>
    <h1 id="score">0</h1>
    <script src="/js/dinojump.js"></script>
	</body>
</html>
