<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TK-0</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<header>
  <div>
    {{!-- change the nav links to the hex buttons --}}
    <a href="/" class="nav-link">Home</a>
    {{#if loggedIn}}
    <a href="/dashboard" class="nav-link">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
  </div>
  <div>
    <h1 class="css-3d-text">Time Killer-0</h1>
    <p>TimeKiller-0 is a minigame site that allows users to...well, kill a little time!
      The games are quick and simple with classic concepts like Breakout and some newer ideas like obstacle jumping.
      Don't forget to get your laughs from our joke generator!
    </p>
  </div>
</header>

<body style="text-align: center">
  <section>
    {{!-- connect box for the joke --}}
    <button type="submit" id="getJoke" class="button">Get A Joke</button>
    <div id="joke" class="joke-container" placeholder="Joke loads here"></div>
  </section>



  <button id="breakout" class="game-button button" onclick="location.href='/breakout';">BREAKOUT
    {{{body}}}
  </button>

  <footer>
    <a href="README.md">ReadMe</a>
    <div class="">Copyright © 2021 TK-0</div>
  </footer>





  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{! flow of data 1: loads in the joke.js file -> go to joke.js }}
  <script src="/js/joke.js"></script>
</body>

</html>