<div>
    <section>
        <button type="submit" id="getJoke" class="button">Get A Joke</button>
        <div id="joke" class="joke-container" placeholder="Joke loads here"></div>
    </section>

    <button id="breakout" class="game-button button" onclick="location.href='/breakout';">BREAKOUT
    </button>
</div>