#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-image: url(https://t4.ftcdn.net/jpg/03/33/20/53/360_F_333205303_36bevb52uWm6gsVvOud98caNntf5EdO7.jpg);
    background-size: cover;
}

#dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-image: url(https://dejpknyizje2n.cloudfront.net/marketplace/products/pixel-art-fire-breathing-dinosaur-sticker-1623271634.611956.png);
    background-size:auto
}

#rock {
    height: 50px;
    width: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url(https://i.pinimg.com/originals/bc/7f/96/bc7f9681fbe0c23d431b00d9967387c3.jpg);
    background-size: cover;
    animation: rock 1.33s infinite;
}

@keyframes rock {
    0%{left: 550px;}
    100%{left: -50px;}
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}