/* global styling */
* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--font);
    background: var(--sixth);
}

:root {
    --font: rgb(206, 217, 235);
    --first: rgb(211, 211, 211);
    --second: rgb(177, 167, 166);
    --third: rgb(186, 24, 27);
    --fourth: rgb(164, 22, 26);
    --fifth: rgb(22, 26, 29);
    --sixth: rgb(11, 9, 10);
}


/* header style start */
/* Page title  */
.css-3d-text {
    font-size: 86px;
    color: #bd1900;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 0px 0px 0 rgb(171,7,0),
                 0px 1px 0 rgb(153,-11,0),
                 0px 2px 0 rgb(135,-29,0),
                 0px 3px 0 rgb(117,-47,0),
                 0px 4px 0 rgb(99,-65,0),
                 0px 5px 0 rgb(81,-83,0),
                 0px 6px 0 rgb(63,-101,0),
                 0px 7px 0 rgb(45,-119,0),
                 0px 8px 0 rgb(27,-137,0),
                 0px 9px 0 rgb(9,-155,0),
                 0px 10px 0 rgb(-9,-173,0),
                 0px 11px  0 rgb(-27,-191,0),
                 0px 12px 11px rgba(255,255,255,0.66),
                 0px 12px 1px rgba(255,255,255,0.5),
                 0px 0px 11px rgba(255,255,255,.2);
 }

header {
    padding: 20px 35px;
    background-color: var(--fourth);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--font);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--font);
}

/* header end */

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}

/* button styles start */
.button {
	box-shadow: -5px 5px 2px -2px #8f4444;
	background:linear-gradient(to bottom, #cc0000 5%, #b59f9f 100%);
	background-color:#cc0000;
	border-radius:7px;
	border:1px solid #d4baba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:23px;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #e8dada;
}
.button:hover {
	background:linear-gradient(to bottom, #b59f9f 5%, #cc0000 100%);
	background-color:#b59f9f;
}
.button:active {
	position:relative;
	top:1px;
}
/* button styles end */

/* game button styles */
.game-button {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--first);
    border-radius: 10px;
    border: 3px double var(--third);
    color: var(--second);
    text-align: center;
    font-size: x-large;
    padding: 20px;
    width: 400px;
    height: 200px;
    margin-top: 3px;
}

#breakout {
    position: relative;
    margin: 40px;
    left: 0;
}

#jump {
    position: relative;
    top:50%;
    right: 0;
}

/* game button styles end */


/*Footer style*/
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: var(--font);
  }
  
h3 {
    color: var(--font);
}
/* footer style end */










/* media query */
@media screen and (max-width: 475px) {
    body {
        text-align: center;
    }
    
    nav {
        width: 100%;
    }
    header nav ul li a {
        margin: 0;
    }

    nav ul {
        display: flex;
        flex: row;
        justify-content: space-between !important;
    }
    
    iframe {
        width: 80% !important;
        height: auto;
    }
    section {
        width: 100%;
    }
    .section-title {
        width: 100%;
    }
}

